extends ../assets/pug-templates/layout.pug
block script
    - var pageTitle = "job formatting";
    meta(name="description" content="SEO stuff")
block navigation
block content
    .container
        .row
            .col
                p 8 boxed container with words to a side, gif beside. Maybe some sort of system that allows you to gif hover
        .row
            .col
            .col
        .row
            .col
            .col
        .row
            .col
            .col
        .row
            .col
            .col
        .row
            .col
            .col
        .row
            .col
            .col
        .row
            .col
            .col
        .row
            .col
            .col